In [1]:
import pandas as pd

In [2]:
reside = pd.read_csv("resident_parent.csv")
other = pd.read_csv("other_reside.csv")

In [3]:
reside.head()

   R0000100  R2737900  R2738000  R2738100  R2738200  R2738300  R2738500
0         1        -5        -5        -5        -5        -5        -5
1         2         1        -4        -4        -4        -4        -4
2         3         0         1         0         0         6         2
3         4         1        -4        -4        -4        -4        -4
4         5         1        -4        -4        -4        -4        -4

In [4]:
reside['lived_w_both_parent'] = reside['R2737900'].apply(
    lambda x: 1 if x == 1 else (0 if x == 0 else pd.NA)
)

In [5]:
reside['lived_w_step_parent'] = reside['R2738000'].apply(
    lambda x: 1 if x == 1 else (0 if x == 0 else pd.NA)
)

In [6]:
reside['lived_w_adopt_parent'] = reside['R2738100'].apply(
    lambda x: 1 if x == 1 else (0 if x == 0 else pd.NA)
)

In [7]:
# merge 1==parent, 2==step parent, 3==adoptive parent

In [8]:
def determine_parent_type(row):
    if row['R2737900'] == 1:
        return 1  # Parent
    elif row['R2738000'] == 1:
        return 2  # Stepparent
    elif row['R2738100'] == 1:
        return 3  # Adoptive parent
    elif (row['R2737900'] == 0 and row['R2738000'] == 0 and row['R2738100'] == 0):
        return 0  # Never with parent
    else:
        return pd.NA  # Not defined

In [9]:
reside['reside_parent_type'] = reside.apply(determine_parent_type, axis=1)
reside['reside_parent_type'] = reside['reside_parent_type'].astype('category')

reside['reside_parent_type'].value_counts(dropna=False)

reside_parent_type
1      6258
0      2659
NaN    2278
2      1333
3       158
Name: count, dtype: int64

In [10]:
reside['years_living_w_parent'] = reside['R2738300'].apply(
    lambda x: x if pd.notna(x) and 1 <= x < 18 else (18 if x==-4 else pd.NA)
)

In [22]:
def years_with_non_parent(df,x, y, relationship):
    header = 'years_w_' + relationship
    if header not in df.columns:
        df[header] = 0

    while y <= x:
        years = 18
        column = 'R' + str(y)

        for index, row in df.iterrows():
            if row[column] == 1:
                df.at[index, header] = years
            elif row[column] == 0:
                df.at[index, header] = 0
            elif row[column] == -4:
                df.at[index, header] = 0
            y -= 100
            years -= 1

In [23]:
#grandparent
years_with_non_parent(other,2849200, 2851000,'grandparent')

In [24]:
other['years_w_grandparent']

0        0
1        0
2        0
3        0
4        0
        ..
12681    0
12682    0
12683    0
12684    0
12685    0
Name: years_w_grandparent, Length: 12686, dtype: int64

In [26]:
other['years_w_grandparent'].mean()

0.0

In [14]:

for x in range (2849200, 2851000):
    column = 'R'+ str(x)

In [15]:
other.head()

,R0000100,R2849200,R2849300,R2849400,R2849500,R2849600,R2849700,R2849800,R2849900,R2850000,...,R2865400,R2865500,R2865600,R2865700,R2865800,R2865900,R2866000,R2866100,R2866200,years_w_grandparent
0,1,-5,-5,-5,-5,-5,-5,-5,-5,-5,...,-5,-5,-5,-5,-5,-5,-5,-5,-5,0
1,2,-4,-4,-4,-4,-4,-4,-4,-4,-4,...,-4,-4,-4,-4,-4,-4,-4,-4,-4,0
2,3,-4,-4,-4,-4,-4,-4,-4,-4,-4,...,-4,-4,-4,-4,-4,-4,-4,-4,-4,0
3,4,-4,-4,-4,-4,-4,-4,-4,-4,-4,...,-4,-4,-4,-4,-4,-4,-4,-4,-4,0
4,5,-4,-4,-4,-4,-4,-4,-4,-4,-4,...,-4,-4,-4,-4,-4,-4,-4,-4,-4,0

In [16]:
#reside[["R0000100",'reside_parent_type',"age_stopped_living_w_parent"]].to_csv('reside_cleaned.csv', index=False)