In [12]:
import pandas as pd

In [13]:
HGC_YA = pd.read_csv('HGC_ya.csv')

In [14]:
final_YA = pd.read_csv('final_YA.csv')

In [15]:
final_YA.head()

,Unnamed: 0,C0000100,C0000200,C0005700,m_age_ya,m_HGC_ya,dad_distance_ya
0,0,201,2,1993,34,13,0.0
1,1,202,2,1994,35,13,0.0
2,2,301,3,1981,19,13,0.0
3,3,302,3,1983,22,13,0.0
4,4,303,3,1986,24,13,0.0

In [16]:
def HGC_transfer_ya(x):
    if 1 <= x <= 3:
        return x # 1 = some middle school or lower, 2 = some high school, 3 = high schoo grad
    elif x == 4:
        return 2  # some vocational trainning coded into 2
    elif x== 5:
        return 3  # complete vocational trainning coded into 3
    elif x == 6:
        return 4  # some college
    elif x == 7 or x == 8:
        return 5  # completed college regardless of degree
    elif x == 9 or x == 13:
        return 6 # some master/postgrad vocational 
    elif x == 10 or x == 14:
        return 7 # complete master/postgrad vocational 
    elif x == 11:
        return 8 # some doctoral
    elif x == 12:
        return 9 # complete doctoral and above 
    else:
        return pd.NA

In [17]:
def HGC_transfer(x):
    if x == 0:
        return 0
    elif 1 <= x <= 6:
        return 1  # primary school
    elif 7 <= x < 9:
        return 2  # some middle school
    elif x == 9:
        return 3  # completed middle school
    elif 10 <= x < 12:
        return 4  # some high school
    elif x == 12:
        return 5  # completed high school or equivalent
    elif 13 <= x < 16:
        return 6  # some college
    elif x == 16:
        return 7  # completed college
    elif x == 17:
        return 8 # some master
    elif x == 18:
        return 9 # completed master
    elif 19 <= x <= 20:
        return 10 # doctoral and above 
    else:
        return pd.NA

In [18]:
HGC_YA['HGC_ya']=HGC_YA['Y1211300'].apply(lambda x: HGC_transfer_ya(x))

In [19]:
final_YA['m_HGC_ya'] = final_YA['m_HGC_ya'].apply(lambda x: HGC_transfer(x))

In [20]:
final_YA.to_csv('final_YA.csv')

In [21]:
HGC_YA.to_csv('HGC_YA_cleaned.csv')