In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
abort_etc = pd.read_csv('abort_urban_etc.csv')

In [3]:
abort_etc.head()

   R0000100  R0001800  R0618301  R0751200  R9908000  R9908600  R9910500
0         1         1        -4        -5         0      -999        -4
1         2         1      6841         3         2        33         0
2         3         1     49444         4         3        19         1
3         4         1     55761         1         2        18         0
4         5         1     96772         2         1        25        -4

In [4]:
abort_etc['R0001800'].replace(-3, pd.NA, inplace=True)

In [5]:
dummies = pd.get_dummies(abort_etc['R0001800'], prefix='', prefix_sep='')
dummies.columns = ['urban_at_14', 'rural_at_14', 'farm_at_14']
abort_etc = pd.concat([abort_etc, dummies], axis=1)

In [6]:
abort_etc['AFQT'] = abort_etc['R0618301'].apply(lambda x: x*0.001 if x > 0 else pd.NA)

In [7]:
abort_etc.head()

,R0000100,R0001800,R0618301,R0751200,R9908000,R9908600,R9910500,urban_at_14,rural_at_14,farm_at_14,AFQT
0,1,1,-4,-5,0,-999,-4,True,False,False,<NA>
1,2,1,6841,3,2,33,0,True,False,False,6.841
2,3,1,49444,4,3,19,1,True,False,False,49.444
3,4,1,55761,1,2,18,0,True,False,False,55.761
4,5,1,96772,2,1,25,-4,True,False,False,96.772

In [8]:
abort_etc['desire_child_#'] = abort_etc['R0751200'].apply(lambda x: x if x >= 0 else pd.NA)

In [ ]:
abort_etc['child_#'] = abort_etc['R9908000'].apply(lambda x: x if x >= 0 else pd.NA)

In [11]:
abort_etc['ever_married'] = abort_etc['R9908600'].apply(lambda x: False if x == -999 else True)
abort_etc['1st_marry_age'] = abort_etc['R9908600'].apply(lambda x: x if x>=0 else pd.NA)

In [12]:
abort_etc['abort_#'] = abort_etc['R9910500'].apply(lambda x: x if x>=0 else (0 if x== -2|-4 else pd.NA))

In [15]:
abort_etc[['urban_at_14', 'rural_at_14', 'farm_at_14', 'AFQT',
       'desire_child_#', 'ever_married', 'married_age', '1st_marry_age',
       'abort_#']].to_csv('abort_urban_cleaned.csv')