In [1]:
import pandas as pd

In [2]:
HGC = pd.read_csv("HGC.csv")

In [3]:
HGC.head()

   R0000100  R0006500  R0007900  T9900000
0         1         8         8        12
1         2         5         8        12
2         3        10        12        12
3         4        11        12        14
4         5        12        12        18

In [4]:
def HGC_transfer(x):
    if x == 0:
        return 0
    elif 1 <= x <= 6:
        return 1  # primary school
    elif 7 <= x < 9:
        return 2  # some middle school
    elif x == 9:
        return 3  # completed middle school
    elif 10 <= x < 12:
        return 4  # some high school
    elif x == 12:
        return 5  # completed high school or equivalent
    elif 13 <= x < 16:
        return 6  # some college
    elif x == 16:
        return 7  # completed college
    elif x == 17:
        return 8
    elif x == 18:
        return 9
    elif 19 <= x <= 20:
        return 10 # doctoral and above 
    else:
        return pd.NA

In [5]:
HGC['f_HGC'] = HGC['R0007900'].apply(HGC_transfer)

In [6]:
HGC['m_HGC'] = HGC['R0006500'].apply(HGC_transfer)

In [7]:
HGC['HGC'] = HGC['T9900000'].apply(HGC_transfer)

In [8]:
HGC.head()

   R0000100  R0006500  R0007900  T9900000 f_HGC m_HGC HGC
0         1         8         8        12     2     2   5
1         2         5         8        12     2     1   5
2         3        10        12        12     5     4   5
3         4        11        12        14     5     4   6
4         5        12        12        18     5     5   9

In [9]:
HGC[['R0000100','f_HGC','m_HGC','HGC']].to_csv('HGC_cleaned.csv')