In [1]:
import pandas as pd

In [2]:
family = pd.read_csv('family_info.csv')

In [3]:
family.head()

,R0000100,R0001100,R0002100,R0002400,R0002700,R0002800,R0002900,R0006800,R0008200,R0009100,R0009200
0,1,1,0,1,0,1,1,2,1,1,0
1,2,1,0,1,1,1,1,3,-4,8,2
2,3,0,1,1,1,1,1,1,2,3,2
3,4,0,1,1,1,1,0,1,2,3,1
4,5,0,1,1,1,1,1,1,1,1,1

In [4]:
family.rename(columns={
    'R0001100': 'foreign_lang_child', 
    'R0002100': 'female_work_14', 
    'R0002400': 'male_work_14',
    'R0006800': 'mother_work_1978',
    'R0008200': 'father_work_1978',
    'R0009100': '#sibling',
    'R0009200': '#sibling_school'
}, inplace=True)

In [5]:
family[['R0002700', 'R0002800', 'R0002900']] = family[['R0002700', 'R0002800', 'R0002900']].apply(
    lambda col: col.apply(lambda x: x if x >= 0 else (0 if x == -2 else pd.NA))
)

In [6]:
family['cultural_influence'] = (family['R0002700'] + family['R0002800'] + family['R0002900']) / 3

In [11]:
family = family.drop(columns=['R0002700', 'R0002800', 'R0002900'])

In [13]:
family = family.map(lambda x: pd.NA if pd.isna(x) else (x if x >= 0 else pd.NA))

In [15]:
family.to_csv('family_info_cleaned.csv')