In [2]:
import pandas as pd
import age_calc

In [3]:
age = pd.read_csv("age-nlsy79.csv")

In [5]:
age.head()

,R0000100,R0000600,R0175800,R0175900,R0176700,R0176800,R0177600,R0177700,R0178500,R0178600,...,R2303100,R2303200,R2303500,R2303600,R2505300,R2505400,R2505700,R2505800,dad_age,mom_age
0,1,20,4,54,5,48,6,23,9,71,...,-5,-5,-5,-5,-5,-5,-5,-5,34.0,28.0
1,2,20,26,39,7,35,17,9,17,7,...,18,-4,20,-4,-4,-4,-4,-4,41.0,39.0
2,3,17,37,48,5,38,7,16,9,7,...,39,-4,40,-4,-4,-4,-4,-4,23.0,22.0
3,4,16,37,48,5,38,7,17,7,7,...,39,-4,40,-4,-4,-4,-4,-4,24.0,23.0
4,5,19,4,44,5,47,0,18,-4,-4,...,-5,-5,-5,-5,34,-4,31,-4,26.0,29.0

In [4]:
age_calc.dad_age_at_birth(age)
age_calc.mom_age_at_birth(age)

In [6]:
age[['R0000100', 'dad_age', 'mom_age']].to_csv("p_age_cleaned.csv")

In [5]:
# FROM NLSY79 guide: This program, and the similar one for mothers, results in an age for almost 77 percent of fathers and almost 87 percent of mothers.

In [6]:
age_calc.age_at_birth_stats(age,"mom")

The percentage of non-NaN values in 'mom_age' is 86.58%
The percentage of teenage mom where 'mom_age' < 21 is 16.87%

In [7]:
age_calc.age_at_birth_stats(age,"dad")

The percentage of non-NaN values in 'dad_age' is 77.61%
The percentage of teenage dad where 'dad_age' < 21 is 5.97%